$MainColor:#0e99ed;  //主色调 蓝色
$ComColor01:#a8daff;  //辅助色 浅蓝o
$ComColor02:#034d70;  //辅助色 深蓝o
$ComColor03:#fd8a02;  //辅助色 橙色
$ComColor04:#ea2929;  //辅助色 红色


$fontSize01:12px;
$fontSize02:14px;
$fontSize03:16px;
$fontSize04:18px;
